<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Citizen</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/clean-blog.min.css'%}" rel="stylesheet">
  <!---link href="{% static 'css/my_css.css'%}" rel="stylesheet"-->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <h2><a class="navbar-brand" href="home.html" style="font-family:Times New Roman">CITIZEN</a></h2>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Blog-home'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" onclick="div_show()" href="{% url "Blog-contact"%}">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="{% url 'Logout'%}">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="{% url 'Profile'%}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="{% url 'Post-create'%}">New Post</a>
          </li>
          <li class="nav-item">
           <img href="{% url 'Profile' %}"src="{{user.profile.image.url}}" style="border-radius:50%;height: 50px;
                    width: 50px;margin-right: 20px;margin-bottom: 16px;">
          </li>
      
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Login'%}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg'%}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Citizens</h1>
            <span class="subheading">Credible and effecient</span>
            {% if messages %}
            {% for message in messages %}
            <div class="alert">
             {{message}}
             </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
{% for post in Posts %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
                  <hr>
                  <img src="{{post.author.profile.image.url}}" style="border-radius:50%;height: 90px;
                      width: 90px;margin-right: 20px;margin-bottom: 16px;">
                  <div class="post-preview">
                  <div class="post-title">
                    <a href="{% url 'Post-detail' post.id %}">
                      <h2 class="post-title">
                        {{post.title}}
                      </h2>
                      <h3 class="post-subtitle">
                        Problems look mighty small from 150 miles up
                      </h3>
                    </a>
                    <p class="post-meta">Posted by
                      <a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a>
                      on {{post.date_posted}}</p>
                  </div>
                </div>
              </div>
          </div>
{% endfor %}   
         
  
  
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  {% load static %}
  {% load crispy_forms_tags %}
  {% block content %}
 <div class="container">
    <form method="POST">
     {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Today </legend> 
                {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button href="#" class="btn btn-outline-info" type="Submit">Sign UP </button>
        </div>
    </form>
    <div class="border-top pt-3"> 
      <small class= "text-muted">
       Already have an account ? <a class= 'ml-2' href="{% url 'Login'%}"> Login </a>
      </small>
    
    </div>
 </div>  
{% endblock content %} 
  <!-- Footer -->
  <hr>
  <div class="container"></div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Your Website 2021</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/clean-blog.min.js' %}"></script>
  <script src="{% static 'js/my_js.js' %}"></script>

</body>

</html>
