{% extends "Blog/base.html" %}
<div class="container">
<h2>Posts by {{view.kwargs.username}} </h2>
{% for Post in Posts %}
    <div class="row">
    <img src="{{object.author.profile.image.url}}">
      <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
          <a href="{{post.title}}">
            <h2 class="post-title">
              {{object.title}}
            </h2>
            <h3 class="post-subtitle">
              Problems look mighty small from 150 miles up
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="{% url 'user-posts' post.author.username %}">{{post.author}}</a>
            on {{post.date_posted}}</p>
        </div>
        
        
      </div>
    </div>
    {% endfor %}
</div>
 
   
